/node_modules
/packages
/public/hot
/public/storage
/public/audio
/storage
/app
/bootstrap
/config
/database
/public
/routes
/tests
/vendor
.env
.env.backup
.phpunit.result.cache
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Modules/Bill
/Modules/Calendar
/Modules/Crm
/Modules/Discussion
/Modules/Expense
/Modules/Fleet 
/Modules/Hrm
/Modules/Isp
/Modules/Kopokopo
/Modules/Media
/Modules/Mpesa
/Modules/Mrp
/Modules/Queuing
/Modules/Realestate
/Modules/School
/Modules/Sms
/Modules/Smsmass
/Modules/Smsreader
/Modules/Tertiary