/node_modules
/packages
/public/hot
/bootstrap/cache
/public/storage
/public/audio
/vendor
.env
.env.backup
entrypoint-composers.sh
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/modules_statuses.json
/package-lock.json
/version
/versions.json

/templates/gif

/Modules/Bill
/Modules/Calendar
/Modules/Crm
/Modules/Discussion
/Modules/Expense 
/Modules/Fleet 
/Modules/Hrm
/Modules/Isp
/Modules/Kopokopo
/Modules/Mailmass
/Modules/Media
/Modules/Mpesa
/Modules/Mrp
/Modules/Queuing
/Modules/Realestate
/Modules/School
/Modules/Sms
/Modules/Smsmass
/Modules/Smsreader
/Modules/Telegram
/Modules/Tertiary
/Modules/Water

/Modules/Affiliate
/Modules/Airtime
/Modules/Coinpayment
/Modules/Domain
/Modules/Hosting
/Modules/Elearning
/Modules/Gif
/Modules/Hosting
/Modules/Ipay
/Modules/Ipayug
/Modules/Paypal
/Modules/Subscription
/Modules/Transfer
/Modules/Withdraw

