[submodule "Modules/Account"]
	path = Modules/Account
	url = https://github.com/mybizna/account.git
[submodule "Modules/Base"]
	path = Modules/Base
	url = https://github.com/mybizna/base.git
[submodule "Modules/Core"]
	path = Modules/Core
	url = https://github.com/mybizna/core.git
[submodule "Modules/Mail"]
	path = Modules/Mail
	url = https://github.com/mybizna/mail.git
[submodule "Modules/Partner"]
	path = Modules/Partner
	url = https://github.com/mybizna/partner.git
[submodule "Modules/Product"]
	path = Modules/Product
	url = https://github.com/mybizna/product.git
[submodule "Modules/Sale"]
	path = Modules/Sale
	url = https://github.com/mybizna/sale.git
[submodule "Modules/Core"]
	path = Modules/Core
	url = https://github.com/mybizna/core.git
[submodule "commands"]
	path = commands
	url = https://github.com/mybizna/commands.git
